@font-face {
    font-family:'Manrope';
    font-style: normal;
    font-weight: 500;
    font-display:swap;
    src: local('Manrope'), local('Manrope-Medium'),
    url(../assets/fonts/Manrope_style-normal_weight-500.woff2) format('woff2'),
  }
  @font-face {
    font-family:'Manrope';
    font-style: normal;
    font-weight: 700;
    font-display:swap;
    src: local('Manrope'), local('Manrope-Bold'),
    url(../assets/fonts/Manrope_style-normal_weight-700.woff2) format('woff2'),
  }

  