/* Primary */
$clr-very-dark-grayish-blue: rgb(72, 85, 106);
$clr-desaturated-dark-blue: rgb(109, 127, 151);
$clr-grayish-blue: rgb(158, 175, 194);
$clr-light-grayish-blue: rgb(236, 242, 248);
$clr-white: rgb(255, 255, 255);

/* Attribution */
$clr-blue: hsl(228, 45%, 44%);

/* Typography */
$fs-body: 13px;
